*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
}
.profile {
    background-image: url("./img/mini-profile-bg-01.jpg");
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.Welcome{
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(255,255,255,0.8), rgba(255,255,255,0.8)), url("./img/mini-profile-bg-01.jpg");
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.8); 
    flex-direction: row;
}
.mini-profile {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 20px;
    padding :80px 140px 80px 140px;
    width: auto;
   
}
.name1{
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
}
.name2{
    font-size: 25px;
    font-weight: 100px;
    text-align: center;
}
.welcome-content h2{
    text-align: left;
    padding: 30px;
    color: #6b6b6b;
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 10px;
    
}
.welcome-content p{
    text-align: left;
    padding: 30px;
    font-size: 18px;
    line-height: 2.0rem;
    width: auto;
    color: #6b6b6b;
    font-weight: 400;
}
.welcome-content1{
   background-color: #986665;
   color: white;
   padding: 10px;
   width: 100%;
   margin: 20px;
   font-size: 20px;
   font-weight: 100;
   height: 100%;
}
.welcome-content1 i{
    font-size: 70px;
    padding: 30px;
    margin-top: 70px;
}
.welcome-content1 p{
    text-align: left;
    padding: 30px;
    font-size: 18px;
    line-height: 2.0rem;
    width: auto;
    font-weight: 400;
}
.casestudy{
    display: flex;
    flex-direction: column;
}

.casestudy1{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 40px;
}
.casestudy-image{
     background-color: #98cb00;
     width: 400px;
     height: 220px;

}
.casestudy-image h2{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    justify-content: center;
    padding: 80px;
}
.casestudy-content{
    margin-left: 40px;
}
.casestudy-content h3{
    font-size: 30px ;
    color: #98cb00;
    margin-top: 30px;
    font-weight: 100;
}
.casestudy-content span{
    font-size: 25px;
}
.casestudy-content p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 2.0rem;
    width: auto;
    color: #6b6b6b;
    font-weight: 400;
}


.casestudy2{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 40px;
}
.casestudy-image2{
     background-color: #cc6733;;
     width: 400px;
     height: 220px;

}
.casestudy-image2 h2{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    font-weight: 100;
    justify-content: center;
    padding: 80px;
}
.casestudy-content2{
    margin-left: 40px;
}
.casestudy-content2 h3{
    font-size: 30px ;
    color: #cc6733;;
    margin-top: 30px;
    font-weight: 100;
}
.casestudy-content2 span{
    font-size: 25px;
}
.casestudy-content2 p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 2.0rem;
    width: auto;
    color: #6b6b6b;
    font-weight: 400;
}


.casestudy3{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 40px;
}
.casestudy-image3{
     background-color:  #3398cc;
     width: 400px;
     height: 220px;

}
.casestudy-image3 h2{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    justify-content: center;
    padding: 80px;
}
.casestudy-content3{
    margin-left: 40px;
}
.casestudy-content3 h3{
    font-size: 30px ;
    color:  #3398cc;
    margin-top: 30px;
    font-weight: 100;
}
.casestudy-content3 span{
    font-size: 25px;
}
.casestudy-content3 p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 2.0rem;
    width: auto;
    color: #6b6b6b;
    font-weight: 400;
}

.casestudy4{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    padding: 40px;
}
.casestudy-image4{
     background-color:#676767;
     width: 400px;
     height: 220px;

}
.casestudy-image4 h2{
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 30px;
    font-weight: 100;
    justify-content: center;
    padding: 80px;
}
.casestudy-content4{
    margin-left: 40px;
}
.casestudy-content4 h3{
    font-size: 30px ;
    color:  #676767;
    margin-top: 30px;
    font-weight: 100;
}
.casestudy-content4 span{
    font-size: 25px;
}
.casestudy-content4 p{
    margin-top: 30px;
    font-size: 18px;
    line-height: 2.0rem;
    width: auto;
    color: #6b6b6b;
    font-weight: 400;
}
.footer{
    background-image: url("./img//mini-profile-bg-02.jpg");
    background-size: cover;
    background-position: center;
    height: 180Vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.footer-box{
    display: flex;
    flex-direction:row;
    justify-self: start;
    padding: 40px;
    /* margin-bottom: 400px; */
   
}
.footer-box1{
    text-align: start;
    background-color: white;
    width: 345px;
    height: 420px;
    padding: 50px;
}
.footer-box1 i{
      align-items: center;
      justify-content: center;
      padding: 70px 70px 30px 70px;
      color: #6b6b6b;
}
.footer-box1 p{
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    line-height: 1.8rem;
}

.footer-box2{
    text-align: start;
    background-color: white;
    width: 345px;
    height: 420px;
    padding: 50px;
    margin:  0px 0px 0px 50px;

}
.footer-box2 i{
      align-items: center;
      justify-content: center;
      padding: 70px 70px 30px 70px;
      color: #6b6b6b;
}
.footer-box2 p{
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    line-height: 1.8rem;
}
.footer-box3{
    text-align: start;
    background-color: white;
    width: 345px;
    height: 420px;
    padding: 50px;
     margin:  0px 0px 0px 50px  ;
}
.footer-box3 i{
      align-items: center;
      justify-content: center;
      padding: 70px 70px 30px 70px;
      color: #6b6b6b;
}
.footer-box3 p{
    font-size: 18px;
    font-weight: 400;
    color: #6b6b6b;
    line-height: 1.8rem;
}
.contact{
    height: 400px;
    width :50%;
    background-color: rgba(255,255,255,0.8);
    display: flex;
    flex-direction: column;
    margin: 40px;
    padding: 50px;
   
}
.NameTag{
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    font-weight: 400;
    background-color: rgba(255,255,255,0.1);
    width:70%;
    height: 50px;
     border-bottom: 1px solid #999;
 }
.NameTag:focus-visible{
    /* outline-color:#007bff; */
    outline: none;
    background-color: white;
    color: #676767;
        border-color: #999999;
     box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
-webkit-box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
-moz-box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
 }
 .EmailTag{
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    width:70%;
    height: 50px;
     border-bottom: 1px solid #999;
}
.EmailTag:focus-visible{
    /* outline-color:#007bff; */
    outline: none;
    background-color: white;
    color: #676767;
    box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
-webkit-box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
-moz-box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
  
 }
 .messagetag{
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    background-color: rgba(255,255,255,0.1);
    width:70%;
     height: 50%;
      border-bottom: 1px solid #999;
    
}
.messagetag:focus-visible{
    /* outline-color:#007bff; */
    outline: none;
    background-color: white;
    color: #676767;
     box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
-webkit-box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
-moz-box-shadow: -1px 0px 0px 5px rgba(0,123,255,0.45);
    
}
.button{
  padding: 20px 20px ;
    background-color: #999999;
  border: none;
  color: white;
  font-size: 18px;
  width: 30%;
  margin: 0px 0px 0px 200px;
  text-align: center;
  cursor: pointer;
}
.Copyright{
    text-align: center;
    padding: 20px;
    color: #999999;
    font-size: 18px
}
 ::placeholder {
      font-size: 18px;
      color: #555;
      opacity: 1; /* Makes it fully visible */
 }


@media screen and (max-width: 320px) {
   .profile{
    background-image: url(./img/mini-profile-bg-01.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    height: auto;
   }
   .mini-profile{
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    margin: 20px;
    /* padding: 10px 10px 10px 10px; */
    padding: 10px 40px 10px 40px;
    width: auto;
   }
   .name1{
    font-size: 30px;
    font-weight: 200;
    margin-bottom: 20px;
    text-align: center;
   }
   .name2{
    font-size: 15px;
    font-weight: 100px;
    text-align: center;
   }
    .Welcome{
    height: max-content;
    flex-direction: column;
    }
    .welcome-content1{
     width: 90%;
    }
    .casestudy1{
        display: flex;
        flex-direction: column;
        padding: 20px; 
    }
    .casestudy-image{
        width: 280px;
    }
    .casestudy-content{
        margin: 10px;
    }
    .casestudy-content h2 {
        font-size: 28px;
    }
    .casestudy-content span {
        font-size: 25px;
    }
    .casestudy-image h2{
       font-size: 25px;
    }
    .casestudy2{
        display: flex;
        flex-direction: column;
         padding: 20px;
        
    }
    .casestudy-image2{
        width: 280px;

    }
    .casestudy-content2{
        margin: 10px;
    }
     .casestudy-content2 h2 {
        font-size: 28px;
    }
    .casestudy-content2 span {
        font-size: 25px;
    }
     .casestudy-image2 h2{
        font-size: 25px;
     }


    .casestudy3{
        display: flex;
        flex-direction: column;
         padding: 20px; 
    }
    .casestudy-image3{
        width: 280px;  
    }
    .casestudy-content3{
        margin: 10px;
    }
     .casestudy-content3 h2 {
        font-size: 28px;
    }
    .casestudy-content3 span {
        font-size: 25px;
    }
     .casestudy-image3 h2{
        font-size: 25px;
     }
    
    .casestudy4{
        display: flex;
        flex-direction: column;
         padding: 20px;
    }
     .casestudy-image4{
        width: 280px;
    }
    .casestudy-content4 span {
        font-size: 25px;
    }
    .casestudy-content4{
        margin: 10px;
    }
     .casestudy-content4 h2 {
        font-size: 28px;
    }
     .casestudy-image4 h2{
        font-size: 25px;
     }  
      .footer{
        height: max-content;
    }
    .footer-box{
        display: flex;
    flex-direction: column;
    padding: 0px;
    }
    .footer-box1{
            width: 250px;
            margin: 30px;
            padding: 20px;
    }
    .footer-box2{
        margin: auto;
            width: 250px;
            margin: 30px;
            padding: 20px;
    }
    .footer-box3{
        margin: auto;
            width: 250px;
            padding: 20px;
            margin: 30px
    }
     .contact{
      width: 80%;
        margin: 30px;
        padding: 30px;
        text-align: center;
    }
    .button{
        width: 60%;
        margin: 20px 20px 20px 30px;
    }
    .NameTag{
        width: 100%;
    }
    .EmailTag{
        width: 100%;
    }
    .messagetag{
        width: 100%;
    }

    
}
 @media screen and (min-width:321px) and (max-width:425px) {
    .profile{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
          }
   .mini-profile{
        padding: 40px 40px 40px 40px;
                margin-top: 100px;
    }
    .name1{
        font-size: 40px;
    }
    .name2{
        font-size: 20px;

    }
    .Welcome{
    height: max-content;
    flex-direction: column;
    }
     .welcome-content1{
     width: 90%;
    }
    .casestudy1{
         display: flex;
        flex-direction: column;
        padding: 20px; 

    }
      .casestudy-image{
        width: auto;
    }
    
     .casestudy2{
        display: flex;
        flex-direction: column;
         padding: 20px;
        
    }
     .casestudy-image2{
        width: auto;
    }
    

    .casestudy3{
        display: flex;
        flex-direction: column;
         padding: 20px; 
    }
      .casestudy-image3{
        width: auto;
    }
    .casestudy4{
        display: flex;
        flex-direction: column;
         padding: 20px;
    }
      .casestudy-image4{
        width: auto;
    }
      .footer{
        height: max-content;
       
    }
     .footer-box{
        display: flex;
    flex-direction: column;
    padding: 0px;
    }
     .footer-box1{
            width: auto;
            margin: 30px;
            padding: 40px;
            text-align: center;
    }
     .footer-box2{
        margin: auto;
            width: auto;
            margin: 30px;
            padding: 40px;
             text-align: center;
    }
     .footer-box3{
        margin: auto;
            width: auto;
            padding: 20px;
            margin: 40px;
             text-align: center;
    }
    .contact{
      width: auto;
        margin: 30px;
        padding: 30px;
        text-align: center;
    }
    .button{
        width: 60%;
        margin: 20px 20px 20px 50px;
    }
    .NameTag{
        width: auto;
    }
    .EmailTag{
        width: auto;
    }
    .messagetag{
        width: auto;
    }
}











